@model EntitiyLayer.Concrete.Heading
@{
    ViewBag.Title = "NewHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Yeni Başlık ekleme</h2>
@*<h1>@ViewBag.d</h1>*@

@using (Html.BeginForm("NewHeading", "WriterPanel", FormMethod.Post))
{
    <div class="form-group">

        @Html.Label("başlık adı:")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName)
        <br />
        @Html.Label("kategori:")
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.vlc,
        new { @class = "form-control" })
        <br />
     
       
        <button class="btn btn-info">Başlığı oluştur</button>


    </div>


}

